/.gradle/
/.idea/
/build/
*.iml
src/reactjs/node_modules/
src/reactjs/node/
src/reactjs/build/
src/reactjs/coverage/
src/reactjs/.next

# reactjs
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
