body {
  background: #FFF;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#container {
  position: absolute;
  background: #FFD700;
  /*margin: auto auto;*/
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
}

#a_header {
  position : fixed;
  background: #F5DEB3;
  width: 100%;
  height: 55px;
}

#b_side_bar {
  margin-top: 55px;
  position : fixed;
  background: #40E0D0;
  float: left;
  width: 20%;
  height: 100%;
}

#c_main {
  background: #DCDCDC;
  float: right;
  width: 80%;
  height: 100%;
}

#d_clear {
  clear: both;
}

#e_footer {
  background: #00BFFF;
  padding: 5px;
  width: 100%;
  height: 50px;
  /*bottom : 0;*/
}

#headline {
  margin-top: 55px;
  padding: 5px;
  background: #d1e35d;
  width: 100%;
  height: 50px;
}

#copyrightline {
  position: absolute;
  margin-left: 25px;
  margin-bottom: 1px;
  float: left;
  bottom: 15%;
}

input[type=text]{
  width:800px;
}