body {
  background: #FFF;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#container {
  position: absolute;
  background: #FFD700;
  /*margin: auto auto;*/
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
}

#a_header {
  position : fixed;
  background: #F5DEB3;
  width: 100%;
  height: 55px;
}

#b_side_bar {
  margin-top: 55px;
  position : fixed;
  background: #40E0D0;
  float: left;
  width: 20%;
  height: 100%;
}

#c_main {
  background: #DCDCDC;
  float: right;
  width: 80%;
  height: 100%;
}

#d_clear {
  clear: both;
}

#e_footer {
  background: #00BFFF;
  padding: 5px;
  width: 100%;
  height: 50px;
  /*bottom : 0;*/
}

#headline {
  margin-top: 55px;
  padding: 5px;
  background: #d1e35d;
  width: 100%;
  height: 50px;
}

#copyrightline {
  position: absolute;
  margin-left: 25px;
  margin-bottom: 1px;
  float: left;
  bottom: 15%;
}

input[type=text]{
  width:800px;
}

.mainearbutton {
  display:inline-block;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.buttonblick {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .6em 1em;
  outline: none;
  background-color: #6B8E23;
  /*background-color: #BDB76B;*/ /*alternative - darkkhaki*/
  /*background-color: #556B2F;*/ /*alternative - d-green*/
  /*background-color: #2E8B57;*/ /*alternative - b-green*/
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
  border-radius: 8px;
}